*{ margin: 0%; }
a{
    text-decoration: none;
}
:root {
    --var-primary: #f1f1f1;
    --var-text: #ffffff;
    --var-theme-blue: #2099a9;
    --var-google-maps-blue: #9cb9e5;
    --var-light-text: rgba(68, 68, 68, 1);
    --var-gray-bg: #f2f3f7;
    --var-bg-light: #FFFFFF;
    --var-gray-border: rgba(128, 128, 128, 0.603);
    --var-btn-shadow: rgba(0,0,0,.11);
    --var-btn-success: #28a745;
    --var-btn-danger: #dc3545;
    --var-btn-warning: #ffc107;
    --var-btn-info: #17a2b8;
    --var-btn-light: #f8f9fa;
    --var-linebreak: rgba(128,128,128,.14);
    --var-standard-font-size: 16px;
    --var-instagram-theme: #e4405f;
    --var-facebook-theme: #3b5998;
    --var-twitter-theme: #1da1f2;
}
.content{
    margin: 0px;
    padding: 0px;
}
/* Utility Classes start */
.flex-row{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}
.flex-column{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.button-success{
    background-color: var(--var-btn-success);
    border: none;
    font-size: 15px;
    color: var(--var-primary);
    padding: 15px 15px;
    border-radius: 5px;    
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0 5px 18px 3px rgba(0,0,0,.11);
    cursor: pointer;
}
.button-theme{
    background-color: var(--var-theme-blue);
    border: none;
    font-size: 15px;
    color: var(--var-primary);
    padding: 15px 15px;
    border-radius: 5px;    
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0 5px 18px 3px rgba(0,0,0,.11);
    cursor: pointer;
}
.button-light{
    background-color: var(--var-btn-light);
    border: none;
    font-size: 15px;
    color: #000000;
    padding: 15px 15px;
    border-radius: 5px;    
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0 5px 18px 3px rgba(0,0,0,.11);
    cursor: pointer;
}

/* Utility Classes end */
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ul li {
    list-style-type: none;
}
ul li a{
    text-decoration: none;
    color: black;
    font-size: var(--var-standard-font-size);
}
.navbar{
    background-color: var(--var-primary);
    box-shadow: 0 4px 14px 0 rgba(80, 80, 80, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    padding: 20px 0px;
    z-index: 2;
    width: 100%;
    border-bottom: 2px solid var(--var-theme-blue);
}
.navbar .navbar-subdivision{
    padding: 10px 25px;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: space-between;
    align-items: center;
}
.navbar .nav-logo img{
    width: 75%;
}
.navbar ul li .donate-btn{
 background-color: var(--var-theme-blue);
 border: none;
 font-size: 15px;
 color: var(--var-primary);
 padding: 7px 15px;
 border-radius: 5px;    
 text-transform: uppercase;
 font-weight: bold;
 box-shadow: 0 4px 14px 0 var(--var-btn-shadow);
 cursor: pointer;
}
.navbar .nav-social-media{
    display: none;
}
.navbar .navbar-subdivision li i{
    font-size: 25px;
}
.navbar .navbar-dropdown{
    display: none;
    flex-direction: column;
    row-gap: 10px;
    position: absolute;
    top: calc(100% + 0px);
    left: 0;
    width: 100%;
    background-color: var(--var-primary);
    box-shadow: 0 4px 14px 0 rgba(86,89,175,.14);
    z-index: 1;
    transition: all .5s;
    padding: 20px 20px;
}
.navbar .navbar-dropdown li {
    border-bottom: 1px solid var(--var-linebreak);
    margin: 5px 0px;
    padding: 2px 0px;
}
.navbar .navbar-dropdown li a{
    font-size: large;
}

.navbar .dropdown button{
    border: none;
    font-size: var(--var-standard-font-size);
    background: transparent;
}

.navbar .dropdown-menu {
    /* display: none; */
    position: absolute;
    background-color: #fff;
    box-shadow: 0 4px 14px 0 rgba(2, 162, 255, 0.14);
    list-style: none;
    padding: 4px 8px;
    margin: 0;
}

.navbar .dropdown-menu li {
    padding: 10px;
}

.navbar .dropdown-menu li:hover {
    background-color: #f1f1f1;
}


/* Header CSS starts */
.header{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://source.unsplash.com/featured/?kids');
    background-size: cover;
    background-position: center;
    padding: 45px 25px;
    color: var(--var-text);
    }
    .header h1{
        font-size: 40px;
        font-weight: 700;
        text-transform: capitalize;
    }
    .header #data{
       color: var(--var-btn-warning);
       border-radius: 2px;
       border: 1px solid var(--var-btn-warning);
       max-width: fit-content;
       padding: 5px;
       backdrop-filter: blur(10px);
       font-weight: 700; 
    }
/* Header CSS Ends */

/* Social Media Details CSS Starts */
.social-media-details .social-media-flex a{
 text-decoration: none;
    color: #000000;
}
.social-media-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 15px;
    row-gap: 20px;
    background-color: #ffffff;
}
.social-media-details h2{
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
}
.social-media-details .social-media-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 25px;
}
.social-media-details .social-media-detail{
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 0%;
    padding: 25px 25px;
    box-shadow: 0px 0px 7px 0px var(--var-btn-shadow);
    border-radius: 5px;
    transition: all .5s;
}
.social-media-details .social-media-detail:hover{
    cursor: pointer;
    box-shadow: 0px 0px 7px 0px var(--var-theme-blue);
    transform: scale(1.1);
}
.social-media-details .social-media-detail i{
    font-size: x-large;
}

/* Social Media Details CSS Ends */

/* Google Maps Css Starts */
.google-maps-container{
 max-width: 100%;
 overflow: scroll;
 padding: 10px 10px;
}
.google-maps-container h1{
    text-align: center;
    text-transform: capitalize;
    margin: 50px 10px;
}
.google-maps-container iframe{
    width: 100%;
    height: 500px;
    border: none;
    box-shadow: 0 4px 14px 0 var(--var-google-maps-blue);
}
/* Google Maps Css Ends */

/* Footer Css starts */
.footer{
    display: flex;
    flex-direction: column;
    row-gap: 35px;
    justify-content: center;
    align-items: center;
    padding: 45px 25px;
    color: var(--var-text);
    background-color: #000000;
}
.footer .company-name{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: flex-start;
    align-items: center;
}
.footer .company-name img{
    width: 20%;
    border-radius: 50%;
    object-fit: cover;
}
.footer .contact-details{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 0%;
}
.footer .social-media-container{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
}
.footer .social-media-container h3{
    text-transform: capitalize;
}
.footer .social-media{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 0%;
}
.footer .social-media-container .social-media a{
    text-decoration: none;
    color: #FFFFFF;
}
.footer .navigation a{
    color: var(--var-text);

}
.footer .navigation{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
     padding: 0%;
}
.footer .ending{
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    text-align: center;
}
.footer .ending p{
    font-style: italic
}
.footer .note{
    text-transform: capitalize;
    text-align: center;
}
/* Footer Css ends */

/* Introduction section css starts */
.introduction-container{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    padding: 45px 25px;
    justify-content: center;
    align-items: center;
}
.introduction-container .youtube-iframe iframe{
    width: 100%;
    border-radius: 10px;
}
.introduction-container .button-set{
    justify-content: center;
    align-items: center;
    margin: 25px 0px;
}
.introduction-text{
    text-align: justify;
}

.introduction-text h3{
    margin: 25px 0px;
    font-size: x-large;
}
.introduction-text p{
    color: var(--var-light-text);
}
/* Introduction section css ends */

/* Purpose Section CSS starts */
.purpose-container{
    height: 40vh;
    text-align: center;
    padding: 20px 30px;
    /* background-image: url('../assets/backgroundImages/purposeBackground.jpg'); */
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('../assets/backgroundImages/purposeBackground.jpg');
    background-position: center;
    background-size: cover;
}
.purpose-container h2{
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
}
.purpose-container p{
    text-align: justify;
    margin: 25px 0px;
    color: var(--var-light-text);
}
/* Purpose Section CSS ends */

/* Cards section css starts */
.cards-heading{
    text-align: center;
    padding: 20px 30px;
    background-color: var(--var-gray-bg);
    border-top: 1px solid var(--var-linebreak);
}
.limited {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Number of lines to show */
    -webkit-box-orient: vertical;
  }
  .extended-limit{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 12; /* Number of lines to show */
    -webkit-box-orient: vertical;
  }
  .cards-conatainer{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    gap: 80px;
    background-color: var(--var-gray-bg);
    padding: 45px 35px;
  }
  .card-container{
    overflow: hidden;
    border-radius: 5px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     row-gap: 25px;
     background-color: var(--var-bg-light);
     box-shadow: 0 5px 18px 3px rgba(0,0,0,.11);
     cursor: pointer;
  }
  .card-container .card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 25px;
    padding: 20px 25px;
  }
  .card-container .card-content .card-btn-flex{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    justify-content: center;
  }
  .card-container .card-content .card-btn-flex button, 
  .card-container .card-content .card-btn-flex a{
    background: transparent;
    border: none;
    text-decoration: none;
    color: #000000;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
  }
  .card-container img{
    transition: all .5s;
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
  }
  .card-container img:hover{
    transform: scale(1.1);
  }
  .card-container .card-content h4{
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Number of lines to show */
    -webkit-box-orient: vertical;
  }
  .card-container .card-content p{
    color: var(--var-light-text);
    text-align: justify;
  }
  .card-container .card-content .btn-small{
    font: small;
    max-width: fir-content;
  }
  
/* Cards section css ends */

/* Staticstics section css starts */
.statistics-container{
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--var-gray-bg);
    padding: 30px 30px;
    row-gap: 50px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('../assets//backgroundImages/statistics.jpg');
    background-size: cover;
    background-position: center;
}
.statistics-container .statistic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
    padding: 20px;
    background-color: var(--var-btn-light);
    height: 200px;
    width: 200px;
    font-size: large;
    border-radius: 5px;
    box-shadow: 0 5px 18px 3px rgba(0,0,0,.11);
    transition: all .5s;
}
.statistics-container .statistic:hover{
    color: var(--var-theme-blue);
}
.statistics-container .statistic h3{
    font-size: xx-large;
    font-weight: 800;
}
.statistics-container .statistic i{
    font-size: xx-large;
}
/* Staticstics section css ends */

/* Testimonials section css starts */
.testimonials-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 30px;
    background-color: var(--var-gray-bg);
    row-gap: 20px;
}
.testimonials-container .testimonial{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
row-gap: 25px;
background-color: #FFFFFF;
padding: 30px;
box-shadow: 0 5px 18px 3px rgba(0,0,0,.11);
border-top-left-radius: 20px;
border-bottom-right-radius: 20px;
}

.testimonials-container .testimonial img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid var(--var-theme-blue);
    border-radius: 50%;
}
.testimonials-container .testimonial .testimonial-heading{
    text-transform: capitalize;
    text-align: center;
}
.testimonials-container .testimonial .testimonial-text{
text-align: justify;
font-style: italic;
}

.testimonials-container .navigation-buttons{
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
}
.testimonials-container .navigation-buttons button{
    background-color: var(--var-theme-blue);
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: all .5s;
}
.testimonials-container .navigation-buttons button:hover{
    background-color: var(--var-btn-danger);
    transform: scale(1.1);
}
.testimonials-container .navigation-buttons button i{
    color: #FFFFFF;
}
/* Testimonials section css ends */

/* Embdedded social media css starts */
.embedded-social-media-container{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 50px;
    row-gap: 50px;
    padding: 30px 10px;
}
.embedded-social-media-container .embedded-social-media{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.embedded-social-media-container .embedded-social-media .embedded-social-media-code{
   min-height: 450px;
   width: 100%;
   border-radius: 20px;
   box-shadow: 0 5px 18px 3px rgba(0,0,0,.11);
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Embdedded social media css ends */

/* Frequent Questions css starts */
.frequent-questions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    background-color: var(--var-gray-bg);
    row-gap: 25px;
}
.frequent-questions h1{
    text-transform: capitalize;
}
.frequent-questions .frequent-question{
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    background-color: #FFFFFF;
    padding: 20px 20px;
    box-shadow: 0 5px 18px 3px rgba(0,0,0,.11);
    width: 100%;
    max-width: 70vw;
}
.frequent-questions .frequent-question .question-header{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
    justify-content: space-evenly;
    transition: all .3s;
}
.frequent-questions .frequent-question .question-answer{
    height: 0;
    text-align: center;
    display: none;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
}
/* Frequent Questions css ends */

/* Media query only screen for desktop */
@media only screen and (min-width: 768px){
   .navbar{
    width: 100%;
   }
   .navbar .nav-social-media{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}
.navbar .nav-social-media li a i{
    font-size: xx-large;
}
.navbar .nav-social-media .instagram-url  i{
    color: var(--var-instagram-theme);
}
.navbar .nav-social-media .facebook-url  i{
    color: var(--var-facebook-theme);
}
.navbar .nav-social-media .twitter-url  i{
    color: var(--var-twitter-theme);
}
   .navbar .navbar-dropdown{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: static;
    flex-direction: row;
    box-shadow: none;
    border-bottom: none;
   }
   .navbar .nav-logo img{
    width: 35%;
}
.navbar .nav-logo-container{
    width: 100%;
}
   #icon-bars{
    display: none;
   }


   .footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
      "company contact navigation social"
      "ending ending ending ending"
      "note note note note";
    row-gap: 40px;
    column-gap: 50px;
    padding: 65px 45px;
    overflow: hidden;
    place-items: center;
  }

  .footer .company-name {
    padding-bottom: 20px;
    grid-area: company;
    flex-direction: column;
    row-gap: 25px;
    align-self: baseline;
    align-items: flex-start;
    justify-content: flex-start;
    border-bottom: 5px solid var(--var-theme-blue);
  }

  .footer .company-name img{
    width: 50%;
    border-radius: 25%;
  }

  .footer .contact-details {
    grid-area: contact;
    justify-self: center;
    align-self: flex-start;
    align-items: flex-start;
  }

  .footer .social-media-container {
    grid-area: social;
    justify-self: center;
    align-self: flex-start;
    align-items: center;
  }
  .footer .social-media-container .social-media{
    align-items: center;
  }

  .footer .navigation {
    grid-area: navigation;
    justify-self: center;
    align-self: flex-start;
    align-items: center;
  }

  .footer .ending {
    grid-area: ending;
    justify-self: center;
    align-self: center;
  }

  .footer .note {
    grid-area: note;
    padding: 0%;
    text-align: center;
  }


  .header{
    height: 50vh;
  }
  .introduction-container{
    flex-direction: row;
    column-gap: 50px;
    padding: 50px 100px;
  }
.introduction-container .youtube-iframe{
    width: 100%;
}
.introduction-container .youtube-iframe iframe{
    width: 100%;
    border-radius: 10px;
}
.introduction-container .introduction-text{
    width: 100%;
}
.introduction-container .button-set{
    justify-content: flex-start;
    align-items: flex-start;
    margin: 25px 0px;
}
.purpose-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   padding-left: 20rem;
   padding-right: 20rem;
   height: 50vh;
   text-align: center;
   padding: 20px 100px;
   /* background-image: url('../assets/backgroundImages/purposeBackground.jpg'); */
   background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('../assets/backgroundImages/purposeBackground.jpg');
   background-position: center;
   background-size: cover;
}

.cards-conatainer{
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.card-container img{
    height: 300px;
}
.limited{
    -webkit-line-clamp: 8;
}

.statistics-container{
    flex-direction: row;
    column-gap: 50px;
    padding: 50px 100px;
}
.statistics-container .statistic h3{
    font-weight: 700;
}

.testimonials-container .testimonial{
max-width: 50vw;
}

.social-media-details .social-media-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 25px;
}
.frequent-questions .frequent-question{
    max-width: 50vw;
}
.embedded-social-media-container{
flex-direction: row;
column-gap: 20px;
padding: 30px 30px;
}
}